body {
  background-color: #F0F5F9;
  margin: 0;
}

div {

}

h1 {
  font-family: Roboto;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 10px;
}

.headerContainer {
  width: 100%;
  height: 100vh;
  padding: 0;
  background-image: url("../resources/images/img04.png");
  background-origin: border-box;
  background-size: cover;
  background-position: center;
}

.topContainer {
  width: 100%;
  height: 60vh;
  background-color: #F0F5F9;
}

.middleContainer {
  width: 100%;
  height: 60vh;
  background-color: #C9D6DF;
}

.bottomContainer {
  width: 100%;
  height: 60vh;
  background-color: #F0F5F9;
}

.footerContainer {
  width: 100%;
  background-color: #52616B;
}

.box {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  display: inline-block;
  opacity: 0.7;
}

.headerBar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.headerSegment{
  height:30px;
}
