body{
  background-color:#F4EEFF;
}

hr{
  border-style: dotted none none none;
  border-width: 6px;
  border-color: #DCD6F7;
  background-color: #F4EEFF;
  height:5px;
  width: 25%;
}
p{
  margin-left: 100px;
  font-size: 150%;
  color: #424874;
  font-family:sans-serif;
  font-weight: 700;
}

h1{
  margin-left: 100px;
  font-family:sans-serif;
  font-size: 300%;
  color:#424874;
}
table{
  margin-left: 100px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #DCD6F7;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #DCD6F7;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #424874;
  background-color: transparent;
  text-decoration: underline;
}

.circular
{
  border-radius: 100%;
}

.name{
  color: red;
}

#experience{
  color: blue;
}
